
общая инфа/.техническое задание.txt.kate-swp
python/__pycache__/
qdrant_storage/collections/
hf_cache/
.env

# папка для кеша зависимостей которые используются при сборке контейнеров
# это выглядит сложно чтобы все содержимое папки игнорировалось гитом, но не сама папка
.cache_dir/
!.cache_dir/
!.cache_dir/.*
.cache_dir/*
qdrant_storage/collections/the_test_name/0/newest_clocks.json
qdrant_storage/collections/the_test_name/0/newest_clocks.json
qdrant_storage/collections/the_test_name/0/wal/first-index
qdrant_storage/collections/the_test_name/0/wal/open-1
qdrant_storage/collections/the_test_name/0/wal/open-2
