
общая инфа/.техническое задание.txt.kate-swp
python/__pycache__/


# папка для кеша зависимостей которые используются при сборке контейнеров
# это выглядит сложно чтобы все содержимое папки игнорировалось гитом, но не сама папка
.cache_dir/
!.cache_dir/
!.cache_dir/.*
.cache_dir/*
